html {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

/* Header */
header {
 display: flex;
 width: 100%;
 position: relative;
 color: #191919;
 background-color: white;
 margin-left: 1.5rem;
 z-index: 2;
 padding: 1.5rem;
}

header .container {
  display: flex;
  align-self: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

header .logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
}

header .logo img{
  margin-right: .5rem;
}

.logo img {
  height: 4rem;
  padding-left: 1.5rem;
  align-items: center;
  justify-content: center;
}

header .mobile {
  display: none;
}

header .desktop{
  display: flex;
  align-items: center;
}

header li {
  display: inline;
  padding-right: 1rem;
}

header li:last-child {
  padding-right: 0;
}

nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 1.5rem;
}

nav a {
  font-family: "roboto", serif;
  font-size: 1rem;
  font-weight: normal;
  color: #383636;
  margin: 1rem;
}

header span {
  font-size: 2rem;
  font-family: "Roboto", serif;
  font-weight: normal;
  color: #d8d8d8;
}

span strong {
  font-weight: bold;
  color: #232222;

}

.border {
  border: 3px solid #999494;
  margin: 2rem;
}

@media only screen and (max-width: 480px) {
  header {
    position: fixed;
    height: 4;
  }
}

/* Banner */
.banner {
  display: flex;
  background-color: #e0dede;
  padding: 2rem 1.5rem;
}

.banner img {
  position: right;
  width: 100%;
}

.display .left {
  width: 60%;
  padding: 2rem 1.5rem 2rem 0;
}

.display{
  display: flex;
  align-items: center;
}

.display h1 {
  font-size: 3.1rem;
  font-weight: bolder;
  font-family: 'noto sans';
  padding-bottom: 2rem;
}

.display h3{
  font-family: 'noto sans';
  font-weight: normal;
  font-size: 2rem;
  line-height: 30px;
  padding-bottom: 2rem;
}

.button {
  font-family: 'noto sans';
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  border: 1px solid #565454;
  background-color: #565454;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button:hover {
  color: black;
  background-color: #11d8d8;
  transition-delay: 0.5s;
  transition-duration: 2s;
  transition-timing-function: linear;
}

@media only screen and (max-width: 640px) {
  .banner img {
    width: 100%;
  }

  .display h1 {
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }

.display h3 {
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

.button {
  padding-bottom: 2rem;
}
}
/* Images */
.images {
  display: flex;
  padding: 2rem 1.5rem;
}

.information{
  width: 60%;
}

.images img {
  width: 100%;
}

.information h1 {
  font-family: "Roboto",sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.information p {
  font-size: 1rem;
  font-weight: lighter;
  font-family: 'ubuntu', sans-serif;
  line-height: 1.6;
  color: #777575;
}

.Hiring {
  padding: 1.5rem;
  font-size: .95rem;
}

.mobile {
  display: none;
}
.cover {
  flex-direction: column;
  padding-left: 1.5rem;
}

.date {
  align-items: center;
  display: flex;
  padding-bottom: 1rem;
  border: 2px solid #999494;
}

.date img {
  align-self: center;
  height: auto;
  width: 35%;
  padding-top: 16px;
  padding-left: 16px;
}

.campus {
  align-items: center;
  display: flex;
  padding-bottom: 1rem;
  border: 2px solid #999494;
 }

.campus img {
align-self: center;
height: auto;
width : 35%;
padding-top: 16px;
padding-left: 16px;
}

.lecture {
  align-items: center;
  display: flex;
  padding-bottom: 1rem;
  background-color: #e2e0e0;
  border: 2px solid #999494;
}

.lecture img {
align-self: center;
height: auto;
width: 35%;
padding-top: 16px;
padding-left: 16px;
}

.Orientation {
  padding-left: 1rem;
  line-height: 1.6;
}

.Orientation h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Calibri';
  padding-bottom: 8px;
}

.Orientation p {
  font-family: 'Calibri';
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 8px;
}

.Orientation a {
  font-family: 'Calibri';
  font-size: 1.2rem;
  font-weight: normal;
  color: #54b7e5;
}

.Orientation a:hover {
  color: #54e5e0;
  transition-delay: 0.5s;
  transition-duration: 2s;
}

.campuses {
  padding-left: 1rem;
  line-height: 1.6;
}

.campuses h2{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Calibri';
  padding-bottom: 8px;
}

.campuses p{
  font-family: 'Calibri';
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 8px;
}

.campuses a {
  font-family: 'Calibri';
  font-size: 1.2rem;
  font-weight: normal;
  color: #54b7e5;
}

.campuses a:hover {
  color: #ce6161;
  transition-delay: 0.5s;
  transition-duration: 2s;
}

.guest {
  padding-left: 1rem;
  line-height: 1.6;
}

.guest h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Calibri';
  padding-bottom: 8px;
}

.guest p {
  font-family: 'Calibri';
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 8px;
}

.guest a {
  font-family: 'Calibri';
  font-size: 1.2rem;
  font-weight: normal;
  color: #54b7e5;
}

.guest a:hover{
  color: #6cdadd;
  transition-delay: 0.5s;
  transition-duration: 2s;
}

@media only screen and (max-width: 760px){
  .mobile {
    display: inline-block;
    padding: 1rem 1rem
  }

.mobile img {
  width: 100%;
}
  .info {
    padding-right: 1rem;
    padding-bottom: 4rem;
  }

  .campus {
    padding-right: 1rem;
    padding-bottom: 4rem;
  }

  .special {
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
}

/* Courses */

.courses-section{
  background-color: #e0dede;
  padding: 2rem 4.5rem;
}

.courses-section h1 {
  font-size: 3rem;
  font-family: 'roboto', sans-serif;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 2rem;
}
.courses {
  display: flex;
  }

  .courses img{
    height: auto;
    width: 100%;
  }

.course {
  flex-basis: 33%;
  margin: 1rem;
  background-color: white;
  line-height: 1.4;
}

.course h2 {
  font-family: 'Calibri';
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.course ul {
  font-family: 'arial';
  font-size: 1.2rem;
  font-weight: lighter;
  color: #605e5e;
}

.step {
  padding-bottom: 8px;
  font-size: 1.4rem;
}
.course .text {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course h3,
.course h4 {
  padding-bottom: .5rem;
}

@media only screen and (max-width: 840px){
  .courses-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

.courses-section h1{
  padding-bottom: 1rem;
}

.text {
  padding-bottom: 2rem;
}

.text h2 {
background-color: #d6d4d4;
padding-top: 1rem;
padding-bottom: 1.5rem;
padding-right: 1rem;
}
}

/* Exhibit*/
.exhibit {
  display: flex;
  padding: 2rem 1.5rem;
}

#large {
  padding-top: 2rem;
  font-family: 'Calibri', serif;
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
}

.thesis {
  display: flex;
  flex-direction: column;
}

 video {
  padding-right: 1.5rem;
  width: 60%;
}

.thesis h2{
  font-family: 'calibri';
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.description {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
}

.common {
  display: inline-flex;
  flex-direction: column;
  width: 65%;
}

.fisma {
  display: flex;
  background-color: #e0dede;
  padding: 1rem 1rem;
  align-items: center;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.design {
  padding-left: 1rem;
}

.fisma img {
  align-self: center;
  height: auto;
  width: 35%;
}

.fisma h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'calibri';
  padding-bottom: 8px;
}

.fisma p {
  font-family: 'noto sans';
  font-weight: normal;
  font-size: .90rem;
  color: #605e5e;
}
.nowandthen {
  display: flex;
  align-items: center;
  line-height: 1.4;
}

.nowandthen h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'calibri';
  padding-bottom: 8px;
}

.nowandthen p {
  font-family: 'noto sans';
  font-weight: normal;
  font-size: .90rem;
  color: #605e5e;
}

.research {
  padding-left: 1rem;
}

.nowandthen img {
  align-self: center;
  height: auto;
  width: 35%;
}

@media only screen and (max-width: 1024px) {
  #large h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  video {
    padding-bottom: 1.5rem;
  }
}

/*  footer */
.footer {
  display: flex;
  padding-left: 1.5rem;
  margin: 1rem;
  border-top: 1px solid #999494;
  padding-top: 1rem;
  justify-content: space-between;
}

 .terms h3 {
  font-size: 1rem;
  font-family: 'noto sans';
  font-weight: normal;
  text-align: right;
  color: #605e5e;
  text-align: right;
}

.footer h4 {
  font-family: 'noto sans';
  font-weight: normal;
  font-size: 1.1rem;
  color: #605e5e;
}

@media only screen and (max-width: 1056px) {
  .footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
